@use "../../../styles//Variables/variables.scss" as *;
.AnalyticsHero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 60px 20px;
  @media (max-width: 1400px) {
    padding: 60px 60px;
  }
  @media (max-width: 1200px) {
    padding: 70px 50px;
  }

  @media (max-width: 1100px) {
    padding: 75px 40px;
  }

  @media (max-width: 900px) {
    padding: 70px 35px;
  }

  @media (max-width: 800px) {
    padding: 50px 30px;
  }

  @media (max-width: 700px) {
    padding: 50px 25px;
  }

  @media (max-width: 600px) {
    padding: 50px 30px;
  }
  @media (max-width: 500px) {
    padding: 50px 20px;
  }
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("../../../assets/Analytics/bgbg.png") !important;

  // background-size: cover;
  // background-position: center;
  // filter: brightness(1.8);

  .subheading {
    width: fit-content;
    margin: 0 auto;
    padding: 8px 15px;
    margin-top: 30px;
    margin-bottom: -30px;
    font-family: "Oxanium";
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 2%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #4e4eff;
    background: #fff;
    border-radius: 100px;
  }

  .main-heading {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 64px;
    line-height: 76.8px;
    letter-spacing: -3px;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    color: #171717;
    strong {
      font-weight: 7000;
      background: linear-gradient(342.23deg, #171717 4.03%, #7d1212 59.72%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    @media (max-width: 768px) {
      font-size: 28px;
    }
    @media (max-width: 1100px) {
      font-size: 60px;
      line-height: 70.8px;
      letter-spacing: -2.5px;
    }
    @media (max-width: 1000px) {
      font-size: 54px;
      line-height: 65.8px;
      letter-spacing: -2px;
    }
    @media (max-width: 900px) {
      font-size: 50px;
      line-height: 60.8px;
      letter-spacing: -2px;
    }
    @media (max-width: 800px) {
      font-size: 48px;
      line-height: 54.8px;
      letter-spacing: -2px;
    }
    @media (max-width: 730px) {
      font-size: 42px;
      line-height: 50.8px;
      letter-spacing: -2px;
    }
    @media (max-width: 630px) {
      font-size: 38px;
      line-height: 47.8px;
      letter-spacing: -2px;
    }
    @media (max-width: 580px) {
      font-size: 34px;
      line-height: 42.8px;
      letter-spacing: -2px;
    }
    @media (max-width: 520px) {
      font-size: 42px;
      line-height: 49.8px;
      letter-spacing: -2px;
    }
    @media (max-width: 400px) {
      font-size: 34px;
      line-height: 42.8px;
      letter-spacing: -2px;
    }
  }

  .description {
    font-family: "Open Sans";
    margin-top: -20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    margin-bottom: 50px;
    width: 900px;
    margin-top: -30px;
    // margin: 0 auto;
    @media (max-width: 1000px) {
      width: 100%;
      margin-top: -20px;
    }
  }

  .cta-button {
    margin-top: 30px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 0.75rem 1.5rem;
    // border-radius: $border-radius;
    border: none;
    cursor: pointer;
    background-color: $primary-500;
    border: 1px solid transparent;
    transition: all 0.3s;
    // margin: 30px auto;
    color: #fff;

    // width: 240px;
    //   height: 54px;
    border-radius: 100px;
    box-shadow: $box-shadow-md;
    border-radius: 100px;
    font-size: $font-size-16;

    gap: 8px;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

    &:hover {
      background-color: #fff;
      color: $primary-500;
      transition: 0.3s linear;
      border: 1px solid $primary-500;
      svg {
        color: $primary-500;
      }
    }
  }
  .banner_florImg {
    margin-top: -480px;
  }
  .img_ {
    margin-top: 50px;
    position: relative;
    z-index: 99;
    @media (max-width: 900px){
      width: 100%;
    }
  }
}
