@use "../../../styles//Variables/variables.scss" as *;

.AcquisitionHeroSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 80px;
  padding-bottom: 240px;
  background: #ededff;
  @media (max-width: 1400px) {
    padding: 80px 60px;
    padding-bottom: 240px;
  }
  @media (max-width: 1200px) {
    padding: 80px 50px;
    padding-bottom: 240px;
  }

  @media (max-width: 1100px) {
    padding: 75px 40px;
    padding-bottom: 240px;
  }
  
  @media (max-width: 900px) {
    padding: 70px 35px;
    padding-bottom: 240px;
  }

  @media (max-width: 800px) {
    padding: 70px 30px;
     padding-bottom: 240px;
  }

  @media (max-width: 700px) {
    padding: 70px 25px;
     padding-bottom: 240px;
  }

  @media (max-width: 600px) {
    padding:70px 30px;
     padding-bottom: 240px;
  }
  @media (max-width: 500px) {
    padding: 70px 20px;
     padding-bottom: 240px;
  }

  background-color: #f2f1fc;

  .hero-content {
    // max-width: 900px;
    @media (max-width: 1000px){
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
    }
    .subtitle {
      margin-top: 30px;
      margin-bottom: -30px;
      font-family: "Oxanium";
      font-weight: 600;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 2%;
      vertical-align: middle;
      text-transform: uppercase;
      opacity: 0.4;
    }

    h1 {
      font-family: "Open Sans";
      font-weight: 600;
      font-size: 64px;
      line-height: 76.8px;
      letter-spacing: -3px;
      vertical-align: middle;
      text-transform: capitalize;
      width: 811px;
      color: $primary-900;

      span {
        color: $primary-500;
      }
      @media (max-width: 1360px) {
        font-weight: 600;
        font-size: 60px;
        line-height: 64.8px;
        letter-spacing: -3px;
        width: 711px;
      }
      @media (max-width: 1200px) {
        font-weight: 600;
        font-size: 50px;
        line-height: 57.8px;
        letter-spacing: -3px;
        width: 570px;
        margin-top: 40px;
      }
        @media (max-width: 1000px){
          font-weight: 600;
        font-size: 46px;
        line-height: 52.8px;
        letter-spacing: -3px;
        width: 100%;
        }
        @media (max-width: 600px){
          font-weight: 600;
        font-size: 40px;
        line-height: 47.8px;
        letter-spacing: -3px;
        width: 100%;
        }
    }

    .description {
      font-family: "Open Sans";
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 0px;
      vertical-align: middle;
      text-transform: capitalize;
      margin-top: -25px;
      width: 711px;

      color: #333;
      @media (max-width: 1200px) {
        width: 620px;
      }
      @media (max-width: 1000px) {
        width: 100%;
      }
    }

    .cta-button {
      margin-top: 30px;
      display: flex;
      align-items: center;
      padding: 0.75rem 1.5rem;
      // border-radius: $border-radius;
      border: none;
      cursor: pointer;
      background-color: $primary-500;
      border: 1px solid transparent;
      transition: all 0.3s;
      // margin: 30px auto;
      color: #fff;

      // width: 240px;
      //   height: 54px;
      border-radius: 100px;
      box-shadow: $box-shadow-md;
      border-radius: 100px;
      font-size: $font-size-16;

      gap: 8px;
      font-family: "Open Sans";
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0%;
      text-align: center;
      vertical-align: middle;

      &:hover {
        background-color: #fff;
        color: $primary-500;
        transition: 0.3s linear;
        border: 1px solid $primary-500;
        svg {
          color: $primary-500;
        }
      }
    }
  }

  .hero-image {
    @media (max-width: 1000px) {
      display: none;
    }
    img {
      @media screen and (max-width: 1468px) {
        width: 97%;
      }
      // max-width: 300px;
      //   height: auto;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;

    .hero-image {
      margin-top: 2rem;
    }
  }
}
