@use "../../../styles//Variables/variables.scss" as *;

$primary-color: #6c5ce7;
$background-color: #1a1a2e;
$secondary-background: #2a2a45;
$text-color: #ffffff;

.Industry_content {
  background: #1a1a26;
  .header-Industry {
    // background: #fff;
    // margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $neutral-50;
    padding: 40px;
    .suitability-INDUSTRY {
      margin-top: 10px;
      width: 113px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $font-size-14;
      font-weight: 500;
      border-radius: 100px;
      color: $secondary-50;
      text-transform: uppercase;
      background: linear-gradient(
        151.41deg,
        rgba(255, 255, 255, 0.2) 16%,
        rgba(153, 153, 153, 0.2) 84.26%
      );
    }

    h1 {
      font-size: $font-size-50;
      line-height: 57px;
      font-weight: 600;
      margin-top: 10px;
      text-transform: capitalize;
      // color: $neutral-500;
    }

    p {
      font-size: $font-size-20;
      text-transform: capitalize;
      line-height: 30px;
      width: 70%;
      text-align: center;
      font-weight: 400;
      margin-top: -20px;
      // color: $neutral-900;
      opacity: 0.5;
    }
    .btn-btn-secondary {
      position: relative;
      margin-top: 3px;
      // min-width:116px;
      height: fit-content;
      padding: 13px 20px 13px 20px;
      gap: 4px;
      border-radius: 100px;
      cursor: pointer;
      border: 1px 0px 0px 0px;
      opacity: 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid $primary-500;
      color: #fff;
      background: $primary-500;
      font-size: $font-size-14;

      &:hover {
        background-color: #fff;
        color: $primary-500;
      }
    }
  }
  .tabs {
    margin-top: 20px !important;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
    // border: 1px solid red;
    width: 802px;
    border-radius: 100px;
    background-color: #21216b66;
    margin: 0 auto;
    // min-height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .tab {
    padding: 10px 20px;
    margin: 5px;
    // background-color: $secondary-background;
    opacity: 0.5;
    cursor: pointer;
    color: $text-color;
    text-transform: capitalize;
    border-radius: 100px;
    &:hover {
      opacity: 1;
    }
  }

  .tab.active {
    background-color: $neutral-700;
    opacity: 1;
  }

  .table {
    // padding: 40px;
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    tbody {
    }
  }

  .table th,
  .table td {
    font-size: $font-size-20;
    line-height: 30px;
    width: 1200px;
    font-weight: 400;
    color: #fff;
    opacity: 0.8;
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid #232323;
    &:last-child {
      text-align: right;
    }
    &:nth-child(2) {
      text-align: center;
    }
    &:nth-child(1) {
      text-align: start;
    }
    .td1 {
      display: flex;
      .tdImg {
        width: 100px;
      }
    }
    img {
      // border: 1px solid red !important;
      width: 100px;
      text-align: left;
      justify-items: start;
      justify-self: start;
      height: 25px;
      object-fit: contain;
      margin-bottom: -5px;
      margin-right: 10px;
    }
  }
  #categoryTd {
    opacity: 0.5 !important;
  }

  .table tr:hover {
    background-color: lighten($secondary-background, 1%);
  }

  .read-story {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }

  .read-story:hover {
    text-decoration: underline;
  }
}

@media (max-width: 890px) {
  .Industry_content .header-Industry h1 {
    font-size: $font-size-36;
    text-align: center;
  }
  .Industry_content .tabs {
    width: 730px;
  }
  .Industry_content .table {
    width: 97%;
  }
  .Industry_content .table th,
  .Industry_content .table td {
    font-size: $font-size-14;
  }
}


@media (max-width: 780px) {
  .Industry_content .header-Industry h1 {
    font-size: $font-size-30;
    text-align: center;
  }
  
  .Industry_content .tabs {
    font-size: $font-size-12;
    width: 510px;
  }
    .Industry_content .tab{
      padding: 8px 10px;
    }

 
}

@media (max-width: 540px) {
  
   #tabs_mobile{
    overflow: auto;
    padding:0 10px;
   }
#tabs_mobile::-webkit-scrollbar {
  display: none;
  /* Scrollbar ko hide karne ka tarika */
}
 .Industry_content .header-Industry h1{
  line-height: 30px;
 }
 .Industry_content .header-Industry{
  padding: 20px;
 }
.Industry_content .table td .td1 .tdImg{
 display: none;
}
}