// SCSS Code

/* TeamSection.scss */
.team-section {
  background-color: #051132;
  color: #ffffff;
  padding: 40px;
  // border: 1px solid red !important;
  .content {
    margin: 0 auto;
    .heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .title {
        font-family: Mona Sans;
        font-size: 46px;
        font-weight: 600;
        line-height: 56px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #c8c8ff;
      }
      .subtitle {
        font-family: Mona Sans;
        font-size: 21.13px;
        font-weight: 400;
        line-height: 30.43px;
        text-align: left;
        color: #8a8f98;
        width: 730px;
      }
      .link {
        font-size: 16.91px;
        font-weight: 700;
        line-height: 27.05px;
        text-align: left;
        color: #717ce1;
        transition: color 0.3s;
        text-decoration: none;

        &:hover {
          border-bottom: 1px solid;
        }
      }
      .join-button {
        width: 200px;
        height: 54px;
        border-radius: 100px;
        background-color: #a1182f;
        color: #ffffff;
        outline: none;
        border: 1px solid rgba(255, 0, 0, 0);
        cursor: pointer;
        transition: background-color 0.3s;
        font-family: Mona Sans;
        font-size: 15px;
        font-weight: 500;
        line-height: 16px;
        text-align: center;

        &:hover {
          background-color: #77606000;
          color: #a1182f;
          border: 1px solid #a1182f;
          box-shadow: 0px 0px 4px 0.1px red;
        }
      }
    }

    .qualities {
      margin-top: 40px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 100px;
      margin-bottom: 2rem;

      .quality {
        // border: 1px solid red;
        //   width: 330px;
        border-radius: 0.5rem;
        text-align: left;
        padding: 10px;
        &:hover{
          background: #0000000a;
        }
        .icon {
          font-size: 1.8rem;
          margin-bottom: 1rem;
        }

        .text {
          font-family: Mona Sans;
          font-size: 22px;
          font-weight: 500;
          line-height: 31.95px;
          text-align: left;
          color: #f7f8f8;
        }
      }
    }
  }
}
