@use "../../styles//Variables/variables.scss" as *;

.slider-container {
  background-color: #ffffff;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 40px;
  text-align: center;
  .containerTop {
    padding: 40px;
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      width: 30%;
      text-align: left;
      font-size: $font-size-40;
      color: $primary-900;
    }
    .slideBtn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 160px;

      .slider-btn {
        position: relative;

        background: #fff;
        border: 1px solid #ddd;
        font-size: 2rem;
        cursor: pointer;
        z-index: 1;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: $box-shadow-sm;
        border: 1px solid;
        border: 1px solid $primary-500;
        &.inactive {
          border: 1px solid $primary-100;
          svg {
            color: $primary-100 !important;
          }
          pointer-events: none;
        }

        &:hover {
          background: #f5f5f5;
        }

        &:nth-of-type(1) {
          left: 1rem;
        }

        &:nth-of-type(2) {
          right: 1rem;
        }
      }
    }
  }
  .slider {
    transition: 0.4s linear;
    user-select: none;
    -webkit-user-select: none;
    /* Safari ke liye */
    -moz-user-select: none;
    /* Firefox ke liye */
    -ms-user-select: none;
    cursor: grab;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
    }

    user-select: none;

    &:active {
      cursor: grabbing;
    }
    padding-left: 40px;
    // position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
    margin-top: -20px;
    .slider-track {
      display: flex;
      width: 1174px;
      height: 460px;
      gap: 30px;
      padding-bottom: 20px;
      .slider-card {
        border: 1px solid $neutral-50;
        flex: 0 0 100%;
        padding: 10px 0px 30px 30px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        h3 {
          font-size: $font-size-32;
          margin-bottom: 1rem;
          color: $neutral-500;
          font-weight: 600;
          line-height: 45px;
        }

        p {
          font-size: 1rem;
          color: $neutral-500;
          font-weight: 400;
          line-height: 26px;
        }

        .learn-more {
          margin-top: 70px;
          width: 289px;
          height: 54px;
          padding: 10px 20px 10px 20px;
          gap: 0px;
          border-radius: 100px;
          border: 1px solid $primary-500;
          color: $primary-500;
          background: transparent;
          transition: 0.3s linear;
          opacity: 0px;
          cursor: pointer;
          &:hover {
            background: $primary-500;
            color: #fff;
          }
        }
      }
    }
  }
}

@media (max-width: 1360px) {
  .slider-container .containerTop h2 {
    width: 40%;
  }
  .slider-container .slider .slider-track {
    display: flex;
    width: 1074px;
    height: 450px;
    gap: 30px;
    padding-bottom: 20px;
  }
}

@media (max-width: 1200px) {
  .slider-container .containerTop h2 {
    width: 45%;
  }

  .slider-container .slider .slider-track {
    display: flex;
    width: 950px;
    height: 450px;
    gap: 30px;
    padding-bottom: 20px;
  }
}

@media (max-width: 1080px) {
  .slider-container .containerTop h2 {
    width: 45%;
  }

  .slider-container .slider .slider-track {
    display: flex;
    width: 750px;
    height: 400px;
    gap: 30px;
    padding-bottom: 20px;
    .learn-more {
      margin-top: 30px !important;
    }
    .slider-card {
      h3 {
        font-size: $font-size-26;
      }
      p {
        font-size: $font-size-14;
      }
      img {
        width: 300px;
        // margin-bottom: -100px;
        margin-top: 100px;
      }
    }
  }
}

@media (max-width: 890px) {
  .slider-container .containerTop h2 {
    width: 55%;
    font-size: $font-size-36;
  }

  .slider-container .slider .slider-track {
    display: flex;
    width: 700px;
    height: 350px;
    gap: 30px;
    padding-bottom: 20px;

    .learn-more {
      margin-top: 50px !important;
      font-size: $font-size-12;
      width: 250px !important;
      height: 45px;
    }

    .slider-card {
      h3 {
        font-size: $font-size-20;
      }

      p {
        font-size: $font-size-12;
        line-height: 17px;
      }

      img {
        width: 200px;
        // margin-bottom: -100px;
        margin-top: 100px;
      }
    }
  }
}

@media (max-width: 810px) {
  .slider-container .containerTop h2 {
    width: 65%;
    font-size: $font-size-32;
  }

  .slider-container .slider {
    padding-left: 20px;
    .slider-track {
      display: flex;
      // overflow: scroll;
      width: 80%;
      height: 300px;
      gap: 20px;
      padding-bottom: 20px;
      //
      .learn-more {
        margin-top: 30px !important;
        font-size: $font-size-12;
        width: 250px !important;
        height: 45px;
      }

      .slider-card {
        h3 {
          // border: 1px solid red !important;
          width: 100%;
          font-size: $font-size-20;
        }

        p {
          font-size: $font-size-12;
          line-height: 17px;
          width: 90%;
          z-index: 9;
        }

        img {
          width: 160px;
          // margin-bottom: -100px;
          margin-top: 130px;
          // position: absolute;
          // margin-right: -400px;
          z-index: 1;
        }
      }
    }
  }
}

@media (max-width: 740px) {
  .slider-container .slider .slider-track .slider-card img {
    // display: none;
    width: 140px !important;
    margin-left: -20%;
  }
}

@media (max-width: 600px) {
  .slider-container .slider .slider-track .slider-card img {
    width: 100px !important;
  }
  .slider-container .containerTop {
    padding: 20px;
    h2 {
      font-size: 30px;
    }
    .slider-container .slider .slider-track .slider-card h3 {
      font-size: 18px;
      padding-bottom: -10px;
    }
  }
  .slider-container .slider .slider-track {
    height: 260px;
    .slider-card {
      overflow: hidden;
      // border: 1px solid red;
      padding: 15px;
      h3 {
        line-height: 10px;
      }
    }
  }
}

@media (max-width: 560px) {
  .slider-container .containerTop h2 {
    font-size: 26px;
  }
  .slider-container .slider .slider-track .slider-card h3 {
    font-size: 16px;
    line-height: 18px;
  }
  .slider-container .slider .slider-track .slider-card p {
    width: 100%;
  }
  .slider-container .slider .slider-track .slider-card .learn-more {
    height: 30px;
    width: 204px !important;
    font-size: 10px;
  }
  .slider-container .slider .slider-track .learn-more {
    margin-top: 10px !important;
  }
  .slider-container .slider .slider-track .slider-card img {
    margin-top: 145px;
  }
  .slider-container .containerTop .slideBtn .slider-btn {
    width: 30px;
    height: 30px;
  }
  .slider-container .containerTop .slideBtn {
    width: 100px;
  }
}

@media (max-width: 420px) {
  .slider-container .slider .slider-track .slider-card img {
    display: none;
    width: 70px !important;
    margin-top: 160px;
  }
  .slider-container .slider .slider-track .slider-card {
    // height: fit-content;
    div {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
    }
  }
  .slider-container .slider .slider-track .slider-card:last-child{
      //  border: 1px solid red;
      //  padding-right: 200px !important;
      //  width: 100px !important;

     }
  .slider-container .slider .slider-track .slider-card p {
    margin-top: -20px !important;
  }
  .slider-container .slider .slider-track .slider-card h3:nth-child(1) {
    margin-bottom: 30px;
  }
  .slider-container .slider .slider-track {
    height: 249px;
  }
    .slider-container .containerTop h2{
      font-size: 20px;
    }
    .slider-container .slider{
      scale: 0.7;
      width: 134%;
      margin-left: -70px;
      overflow: scroll;
    }
}
