.blog-posts {
  padding: 30px 60px;
  font-family: Arial, sans-serif;
  background: #f8f6f2;
  @media (max-width: 1400px) {
    padding: 30px 40px;
  }

  @media (max-width: 550px) {
    padding: 20px;
  }
  .blog-label {
    background: #f6e8ea87;
    padding: 4px 10px;
    border-radius: 100px;
    width: fit-content;
    margin: 0 auto;
    color: #4e4eff;
    font-size: 12px;
    font-weight: 500;

    text-transform: uppercase;
    text-align: center;
  }

  .blog-heading {
    margin-top: 8px;
    text-align: center;
    font-size: 36px;
    color: #4242cd;
    font-size: 54px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 16px;
  }

  .blog-description {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #667085;
    margin-top: -30px;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.5;
  }
  h2 {
    font-size: 24px;
    color: #440a14;
    margin-bottom: 20px;
  }

  .recent-posts {
    .recent-grid {
      display: grid;
      gap: 20px;
      grid-template-columns: 1fr 1fr;

      @media (max-width: 1129px) {
        grid-template-columns: 1fr;
      }

      .main-post {
        display: flex;
        flex-direction: column;

        img {
          width: 100%;
          height: 350px;
          border-radius: 20px;
          object-fit: cover;
          object-position: top;
          transition: 1s linear;

          &:hover {
            object-position: bottom;
          }
        }

        .content {
          margin-top: 16px;

          .author {
            font-size: 14px;
            color: #6941c6;
            margin-bottom: 8px;
            cursor: pointer;
          }

          h3 {
            font-size: 20px;
            color: #590d1a;
            margin-bottom: 8px;
            cursor: pointer;
          }
          .blog-tags {
            margin-top: 15px;

            .tag {
              display: inline-block;
              background: #6941c62f;
              color: #6941c6;
              font-size: 14px;
              padding: 5px 10px;
              border-radius: 20px;
              margin-right: 10px;
            }

            .tag:nth-child(2) {
              background: #ff69b431;
              color: #ff69b4;
            }
            .tag:nth-child(3) {
              background: #027a483d;
              color: #027a48;
            }
          }

          .description {
            font-size: 16px;
            color: #777;
            line-height: 24px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            /* Text ko 4 lines tak limit karega */
            -webkit-box-orient: vertical;
            overflow: hidden;
            /* Extra text ko hide karega */
            text-overflow: ellipsis;
            /* Ellipsis (...) add karega */
          }
        }
      }

      .side-posts {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .side-post {
          display: flex;
          gap: 12px;

          @media (max-width: 550px) {
            flex-direction: column;
          }

          img {
            width: 51%;
            cursor: pointer;
            height: 240px;

            border-radius: 20px;
            object-fit: cover;
            object-position: top;
            transition: 1s linear;

            @media (max-width: 1129px) {
              min-width: 55%;
              height: 250px;
            }

            @media (max-width: 899px) {
              min-width: 45%;
              height: 250px;
            }

            @media (max-width: 800px) {
              min-width: 45%;
              height: 200px;
            }

            @media (max-width: 550px) {
              min-width: 100%;
              height: 200px;
            }

            &:hover {
              object-position: bottom;
            }
          }

          .content {
            .author {
              font-size: 14px;
              color: #6941c6;
              margin-bottom: 4px;
              cursor: pointer;
            }

            h3 {
              font-size: 16px;
              color: #590d1a;
              margin-bottom: 4px;
              // border: 1px solid red !important;
              cursor: pointer;
            }
            .blog-tags {
              margin-top: 15px;

              .tag {
                display: inline-block;

                background: #027a483d;
                color: #027a48;
                font-size: 14px;
                padding: 5px 10px;
                border-radius: 20px;
                margin-right: 10px;
              }

              .tag:nth-child(2) {
                background: #ff69b431;
                color: #ff69b4;
              }

              .tag:nth-child(3) {
                background: #6941c62f;
                color: #6941c6;
              }
            }

            .description {
              cursor: pointer;
              font-size: 14px;
              color: #777;
              line-height: 24px;
              display: -webkit-box;
              -webkit-line-clamp: 6;
              /* Text ko 4 lines tak limit karega */
              -webkit-box-orient: vertical;
              overflow: hidden;
              /* Extra text ko hide karega */
              text-overflow: ellipsis;

              /* Ellipsis (...) add karega */
              @media (max-width: 1129px) {
                -webkit-line-clamp: 8;
              }

              @media (max-width: 800px) {
                -webkit-line-clamp: 4;
              }

              @media (max-width: 550px) {
                -webkit-line-clamp: 3;
              }
            }
          }
        }
      }
    }
  }

  .all-posts {
    margin-top: 40px;

    @media (max-width: 550px) {
      padding: 0px;
    }

    .all-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      @media (max-width: 1150px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 710px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .post-card {
        display: flex;
        flex-direction: column;

        img {
          width: 100%;
          height: 280px;
          border-radius: 20px;
          object-fit: cover;
          object-position: top;
          transition: 1s linear;
          cursor: pointer;

          &:hover {
            object-position: bottom;
          }
        }

        .content {
          margin-top: 16px;

          .author {
            font-size: 14px;
            color: #6941c6;
            margin-bottom: 8px;
            cursor: pointer;
          }

          h3 {
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            color: #590d1a;
            margin-bottom: 8px;
            cursor: pointer;
            display: flex;
            width: 100%;

            .span_svg_ {
              width: 40px;
              height: 30px;
              color: #01004d;
              // position: absolute;
              // margin-right: -30px;
            }
          }
          .blog-tags {
            margin-top: 15px;

            .tag {
              display: inline-block;

              background: #027a483d;
              color: #027a48;
              font-size: 14px;
              padding: 5px 10px;
              border-radius: 20px;
              margin-right: 10px;
            }

            .tag:nth-child(2) {
              background: #ff69b431;
              color: #ff69b4;
            }

            .tag:nth-child(3) {
              background: #6941c62f;
              color: #6941c6;
            }
          }

          .description {
            cursor: pointer;
            font-size: 14px;
            color: #777;
            line-height: 24px;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            /* Text ko 4 lines tak limit karega */
            -webkit-box-orient: vertical;
            overflow: hidden;
            /* Extra text ko hide karega */
            text-overflow: ellipsis;
            /* Ellipsis (...) add karega */
          }
        }
      }
    }
  }
}
