// AcquisitionSections.scss
@use "../../../styles//Variables/variables.scss" as *;

.TechnologyMonetization {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 30px 80px;
  @media (max-width: 1400px) {
    padding: 30px 60px;
  }
  @media (max-width: 1200px) {
    padding: 40px 50px;
  }

  @media (max-width: 1100px) {
    padding: 35px 40px;
  }

  @media (max-width: 900px) {
    padding: 30px 35px;
  }

  @media (max-width: 800px) {
    padding: 30px 30px;
  }

  @media (max-width: 700px) {
    padding: 30px 25px;
  }

  @media (max-width: 600px) {
    padding: 30px;
  }
  @media (max-width: 500px) {
    padding: 20px;
  }
  background: #fff;
  .top_title_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      font-family: "Open Sans";
      min-width: 584px;
      font-weight: 600;
      font-size: 42px;
      line-height: 54.6px;
      letter-spacing: -2px;
      vertical-align: middle;
      text-transform: capitalize;
    }
    p {
      font-family: "Open Sans";
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.5px;
      vertical-align: middle;
      text-transform: capitalize;
      color: #555555;
    }
  }
  .tools-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
    justify-items: center;
    gap: 1.5rem;
    margin-bottom: 3rem;
    .cards:nth-child(7) {
      // opacity: 0;
      // border: 1px solid red !important;
    }
    .tool-card {
      background: #eae5ff66;
      border-radius: 4px;
      width: 194px;
      height: 102px;
      display: flex;
      align-items: center;
      justify-content: center;
      // padding: 5px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
      display: flex;
      flex-direction: column;
      align-items: center;
      //   gap: 10px;
      .cards {
      }

      .p {
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: 0px;
        vertical-align: middle;
        text-transform: capitalize;
        margin-top: -30px;
      }
      span {
        font-weight: 500;
        font-size: 0.95rem;
        color: #333;
      }
    }
  }
}
