@import "../styles/Variables/variables.scss";

.features {
  position: relative;
  padding: 2rem;
  background-color: #f8f6f2;
  .background-container {
    margin-top: -10px;
    width: 621px;
    height: 596px;
    background-color: $secondary-100;
    border-radius: 20px;
    box-shadow: $box-shadow-md;
    h3 {
      font-size: $font-size-18;
      color: $secondary-800;
    }
    .background-image {
      width: 559.29px;
      margin-top: 75px;
      //   filter: bluescale(100%);
      filter: sepia(40%) saturate(100%) hue-rotate(190deg);
    }

    .navigation {
      animation: slideOut 1s ease-out forwards;
      position: absolute;
      top: 10%;
      left: 20%;
      display: flex;
      gap: 1rem;
      background: #ffffff83;
      padding: 0.5rem 1rem;
      border-radius: 112px;
      box-shadow: $box-shadow-lg;
      border: 1px solid #fff;
&:hover {
    scale: 1.02 !important;
    transition: 0.3s ease-in-out;
    z-index: 999899988;
  }
      span {
        display: flex;
        align-items: center;
        gap: 5px;
        justify-content: center;
        font-size: 12px;
        color: #555;
      }
    }
    .cardPirateMetrics {
      position: absolute;
      width: 208.43px;
      height: 166.45px;
      gap: 0px;
      border-radius: 10px;
      opacity: 0px;
      margin-top: 85px;
      margin-left: -50px;
      background: #ffffffbc;
      box-shadow: $box-shadow-lg;
      animation: slideIn 1s ease-out forwards;
      &:hover{
        scale: 1.02 !important;
        transition: 0.3s ease-in-out;
        z-index: 999899988;
      }
      
    }
    .cardLeanStarUp {
      animation: slideOut 1s ease-out forwards;
      position: absolute;
      margin-top: -250px;
      text-align: left;
      margin-left: -50px;
      width: 286.51px;
      height: 217.4px;
      gap: 0px;
      border-radius: 10px;
      background: #fff;
      opacity: 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      overflow: hidden;
      box-shadow: $box-shadow-lg;
      &:hover {
          scale: 1.02 !important;
          transition: 0.3s ease-in-out;
          z-index: 999899988;
        } 
      h3 {
        font-size: $font-size-18;
        color: $secondary-800;
        margin-top: -4px;
      }
      p {
        font-size: $font-size-14;
        line-height: 20px;
        color: $neutral-900;
        opacity: 0.7;
        font-weight: 300;
      }
      img {
        width: 101.75px;
        height: 204.99px;
        object-fit: cover;
        // border: 1px solid red;
        margin-left: -60px;
      }
    }
    .cardProductLedImg {
      animation: slideIn 1s ease-out forwards;
      position: absolute;
      width: 286.51px;
      height: 296.44px;
      right: 20px;
      margin-top: -450px;
      gap: 0px;
      border-radius: 10px;
      opacity: 0px;
      box-shadow: $box-shadow-lg;
      background: #fff;
      padding: 10px;
      &:hover {
          scale: 1.02 !important;
          transition: 0.3s ease-in-out;
          z-index: 999899988;
        }
      h3 {
        text-align: left;
        padding-left: 30px;
      }
      img {
        width: 245px;
        height: 232px;
      }
    }
  }

  .cards-container {
    display: flex;
    gap: 2rem;
    position: absolute;
    justify-content: center;

    .card {
      background: #fff;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: 12px;
      padding: 1rem;
      text-align: center;
      max-width: 300px;

      img {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
        border-radius: 12px;
      }

      h3 {
        font-size: 1.2rem;
        color: #511d77;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 0.95rem;
        color: #7a7a7a;
      }
    }
  }
}


@keyframes slideIn {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


