@import "../styles/Variables/variables.scss";

.header {
  text-align: center;
  background: #f8f6f2;
  //   position: relative;
  //   top: 64px;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  padding-bottom: 50px;
  &__content {
    padding-left: 40px;
    text-align: left;
    margin-top: 15px;
    h3 {
      animation: slideLeft 1s ease-out forwards;
      width: fit-content;
      background: #fff;
      color: $secondary-500;
      top: 123px;
      left: 60.06px;
      padding: 8px 10px 8px 10px;
      gap: 10px;
      border-radius: 100px;
      opacity: 0px;
      font-size: 12px;
      font-weight: 500;
      line-height: 14.4px;
      letter-spacing: 0.05em;
      text-align: center;
      text-decoration-skip-ink: none;
      margin-bottom: -20px;
      margin-top: 30px;
    }
    h1 {
      animation: slideLeft 1s ease-out forwards;
      font-family: $font-secondary;
      // font-size: $font-size-lg;
      font-weight: 500;
      line-height: 59.4px;
      color: $primary-800;
      font-size: $font-size-50;
      width: 80%;
      span {
        font-weight: 600;
        line-height: 64px;
        font-size: $font-size-54;
        color: $secondary-500;
      }
    }
  }

  .header_p {
    animation: slideLeft 1s ease-out forwards;
    font-size: $font-size-18;
    font-weight: 400;
    color: $neutral-900;
    opacity: 0.6 !important;
    line-height: 30px;
    width: 74%;
    text-transform: capitalize;
    margin-top: -12px;
    // border: 1px solid $primary-500;
  }

  .header__buttons {
    animation: slideOut 1s ease-out forwards;
    margin-top: 1.5rem;
    margin-top: 45px;
    // border: 1px solid red;

    .btn {
      padding: 0.75rem 1.5rem;
      // border-radius: $border-radius;
      border: none;
      cursor: pointer;
      transition: all 0.3s;

      &.btn-primary {
        background-color: $primary-500;
        color: #fff;
        color: #fff;
        background: $primary-500;
        font-weight: 600;
        width: 240px;
        height: 54px;
        border-radius: 100px;
        box-shadow: $box-shadow-md;
        border-radius: 100px;
        font-size: $font-size-16;
        &:hover {
          background-color: #fff;
          color: $primary-500;
          transition: 0.3s linear;
          border: 1px solid $primary-500;
        }
      }

      &.btn-secondary {
        width: 240px;
        height: 54px;
        background-color: $secondary-500;
        color: #fff;
        margin-left: 1rem;
        font-weight: 500;
        font-size: $font-size-16;
        background: #fff;
        border: 1px solid $primary-500;
        color: $neutral-500;
        border-radius: 100px;
        box-shadow: $box-shadow-md;

        &:hover {
          transition: 0.3s linear;
          background-color: $primary-500;
          color: #fff;
        }
      }
    }
  }
  .start4 {
    animation: slideOut 1s ease-out forwards;
    margin-top: 30px;
  }
  h4 {
    animation: slideOut 1s ease-out forwards;
    font-size: $font-size-22;
    font-weight: 500;
    margin-top: 1px;
    margin-bottom: 5px;
    line-height: 33.6px;
  }
  .EmilyR {
    animation: slideOut 1s ease-out forwards;
    width: fit-content;
    height: 61.52px;
    padding: 4px 0px 0px 0px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #bdbdbd;
    .EmilyR_content {
      .EmilyR_title {
        font-size: $font-size-16;
        color: $neutral-800;
      }
      .EmilyR_title_p {
        font-size: $font-size-16;
        color: $neutral-400;
      }
    }
    img {
      border-left: 1px solid #bdbdbd;
      padding-left: 18px;
    }
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 1400px) {
  .features .background-container {
    margin-top: -10px;
    width: 551px;
    height: 526px;
    .background-image {
      width: 459.29px;
      margin-top: 99px;
    }
    .cardLeanStarUp {
      width: 210px;
      height: 202.4px;
    }
    .cardProductLedImg {
      width: 226.51px;
      height: 240.44px;
      img {
        width: 205px;
        height: 200px;
      }
    }
  }
  .features {
    padding: 2rem;
  }

  .header__content h1 {
    font-size: $font-size-42;
    line-height: 50px;
  }

  .header__content h1 span {
    font-size: $font-size-36;
    line-height: 40px;
  }
}

@media (max-width: 1240px) {
  .features .background-container {
    margin-top: -10px;
    width: 500px;
    height: 526px;

    .background-image {
      width: 459.29px;
      margin-top: 99px;
    }

    .cardLeanStarUp {
      width: 210px;
      height: 202.4px;
    }

    .cardProductLedImg {
      width: 226.51px;
      height: 240.44px;

      img {
        width: 205px;
        height: 200px;
      }
    }
  }
}

@media (max-width: 1145px) {
  .header {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .features {
    display: none;
  }
  .header__content h1 {
    font-size: $font-size-50;
    line-height: 56px;
  }

  .header__content h1 span {
    font-size: $font-size-56;
    line-height: 60px;
  }
}

@media (max-width: 890px) {
  .header {
    margin-top: 60px;
  }
}

@media (max-width: 690px) {
  .header__content {
    padding-left: 0px;
    padding: 10px;
    text-align: center;
    h3 {
      margin: 0 auto;
      margin-top: 10px;
    }
  }
  .header__content h1 {
    font-size: $font-size-40;
    line-height: 56px;
    width: 100%;
    text-align: center;
  }

  .header__content h1 span {
    font-size: $font-size-46;
    // border: 1px solid red;
    line-height: 60px;
  }
  .header .header_p {
    width: 100%;
  }
  .header .EmilyR {
    margin: 0 auto;
  }
}



@media (max-width: 590px) {
 

  .header__content h1 {
    font-size: $font-size-36;
    line-height: 40px;
    width: 100%;
    text-align: center;
  }

  .header__content h1 span {
    font-size: $font-size-40;
    line-height: 45px;
  }

  .header .header_p {
    width: 100%;
  }

  
}

@media (max-width: 590px) {
  .header__buttons{
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
  .btn.btn-secondary{
      margin-left: 0px !important;
    }
  }
}

@media (max-width: 450px) {
  .header__content h1 {
      font-size: $font-size-30;
      line-height: 36px;
      width: 100%;
      text-align: center;
    }
  
    .header__content h1 span {
      font-size: $font-size-36;
      line-height: 40px;
    }
        .header .header_p{
          font-size: 16px;
        }
}