@use "../styles/Variables/variables.scss" as *;

.navbar {
  // position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 80px;
  background-color: #fafafa;
  z-index: 9999999999999999999;

  @media (max-width: 1400px) {
    padding: 1rem 60px;
  }
  @media (max-width: 1200px) {
    padding: 1rem 50px;
  }
  @media (max-width: 1100px) {
    padding: 1rem 40px;
  }
  @media (max-width: 900px) {
    padding: 1rem 35px;
  }
  @media (max-width: 800px) {
    padding: 1rem 30px;
  }
  @media (max-width: 700px) {
    padding: 1rem 25px;
  }
  @media (max-width: 600px) {
    padding: 1rem 20px;
  }
  @media (max-width: 500px) {
    padding: 20px;
  }
  //

  //
  // box-shadow: $box-shadow-md;
  //   position: fixed;
  &__logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    img {
      height: 24px;
      cursor: pointer;
    }

    span {
      font-family: $font-secondary;
      font-size: $font-size-22;
      font-weight: bold;
      color: $primary-500;
    }
  }

  &__links {
    width: fit-content;
    height: fit-content;
    top: 11.5px;
    left: 475px;
    padding: 6px 10px 6px 20px;
    gap: 32px;
    opacity: 0px;
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    border-radius: 100px;
    background: #fff;

    li {
      position: relative;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-family: $font-primary;
        font-size: $font-size-16;
        color: $neutral-500;
        transition: color 0.3s;

        &:hover {
          color: $primary-500;
          svg {
            color: $primary-500;
          }
        }
      }

      &.navbar__dropdown {
        .dropdown_services {
          // border: 1px solid red !important;
          // position: absolute;
          display: flex;
          gap: 1rem;
          padding: 1rem;
        }
        .dropdown_services_Company {
          @media (max-width: 1018px) {
            flex-direction: column;
            .two_list {
              flex-direction: row !important;
            }
          }
        }
        .dropdown {
          position: absolute;
          background: #fff !important;
          margin-top: 30px;
          // left: 50%;
          // top: 50%;
          transform: translateX(-90%);
          // display: flex;
          // gap: 1rem;
          // padding: 1rem;
          background-color: $neutral-50;
          box-shadow: $box-shadow-lg;
          border-radius: $border-radius-lg;
          z-index: 99999999000000000000000000;
          @media (max-width: 1300px) {
            left: 0%;
          }
          @media (max-width: 1200px) {
            // left: -72%;
            transform: translateX(-80%);
          }
          @media (max-width: 1096px) {
            // left: -72%;
            transform: translateX(-76%);
          }
          @media (max-width: 1038px) {
            transform: translateX(-73%);
          }
          @media (max-width: 1050px) {
            display: grid;
            grid-template-columns: 1fr;
          }
          .btn_services {
            border: 1px solid $primary-700;
            color: $primary-700;
            width: fit-content;
            padding: 10px 20px;
            border-radius: 100px;
            cursor: pointer;
            margin-top: 0px;
            // margin-bottom: -1px;
            margin-left: 20px;
            font-family: "Open Sans";
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0%;
            text-align: center;
            vertical-align: middle;
            transition: 0.3s linear;
            &:hover {
              background: $primary-700;
              color: #fff;
            }
          }
          .right_drop {
            display: flex;
            gap: 20px;
          }

          .dropdown__item {
            flex: 1;
            border-radius: $border-radius-sm;
            text-align: center;
            .two_list {
              // border: 1px solid red !important;
              display: flex;
              flex-direction: column;
              gap: 15px;
              @media (max-width: 1050px) {
                // flex-direction: row;
                gap: 20px;
              }
              .firstNavbar {
                border-radius: 16px;
                background-color: $primary-50;
                width: 300px;
                height: 140px;
                display: flex;
                text-align: left;
                justify-content: space-between;
                padding-left: 15px;
                padding-right: 10px;
                @media (max-width: 1050px) {
                  width: 275px;
                }
                h4 {
                  font-family: $font-secondary;
                  font-size: $font-size-16;
                  margin-bottom: 0.5rem;
                  color: $primary-700;
                  cursor: pointer;
                }
                p {
                  font-family: $font-primary;
                  font-size: $font-size-14;
                  color: $neutral-400;
                }
              }
            }
            .oneNavBar {
              width: 302px;
              height: 295px;
              display: flex;
              background-color: $primary-50;
              justify-content: space-between;
              // border: 1px solid red;
              border-radius: 16px;

              div {
                h4 {
                  font-family: $font-secondary;
                  font-size: $font-size-16;
                  margin-bottom: 0.5rem;
                  color: $primary-700;
                  text-align: left;
                  padding-left: 20px;
                  // border: 1px solid red !important;
                  cursor: pointer;
                }

                p {
                  text-align: left;
                  font-family: $font-primary;
                  font-size: $font-size-14;
                  width: 86%;
                  z-index: 99999 !important;
                  color: $neutral-400;
                  padding-left: 20px;
                }
              }
              img {
                height: 190px;
                position: absolute;
                margin-left: 180px;
                margin-top: 105px;
                // bottom: 16px;
                border-bottom-right-radius: 16px;
                z-index: 1;
              }
              .imgAbout {
                margin-left: 80px;
                margin-top: 105px;
              }
            }
          }
        }

        .dropdownS {
          display: flex;
          flex-direction: column;
          // border: 1px solid red !important;
          transform: translateX(-70%);
          @media (max-width: 1070px) {
            width:670px !important;
            .right_drop {
              flex-direction: column;
            }
            .dropdown__item {
              .two_list1 {
                flex-direction: row;
                // width: 200%;
                // border: 1px solid red;
                // margin-left: 100%;
              }
              .two_list2 {
                margin-left: -100%;
              }
              .oneNavBar {
                // width: 100%;
              }
            }
          }
          .dropdown__item {
            .two_list .firstNavbar {
              h4 {
                position: absolute;
                cursor: pointer !important;
              }
              p {
                // position: absolute;
                margin-top: 50px;
                // max-width: 60% !important;
              }
            }
            .oneNavBar {
              img {
                // height: 190px;
                // position: absolute;
                margin-left: 84px;
                margin-top: 103px !important;
                // bottom: 16px;
                border-bottom-right-radius: 16px;
                // z-index: 1;
                @media (max-width: 1050px) {
                  // bottom: 172px;
                }
              }
              .imgAbout {
                margin-left: 60px;
                @media (max-width: 1050px) {
                }
              }
            }
          }
          @media (max-width: 1450px) {
            left: 200%;
          }
          @media (max-width: 1200px) {
            left: 292%;
          }
        }
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 1rem;

    .navbar__language {
      font-family: $font-primary;
      font-size: $font-size-14;
      padding: 0.5rem;
      border: $border-width solid $neutral-300;
      border-radius: $border-radius-sm;
      background-color: $neutral-50;
      color: $neutral-500;

      &:focus {
        outline: none;
        border-color: $border-focus-color;
      }
    }

    .btn-secondary {
      position: relative;
      width: 116px;
      height: fit-content;
      padding: 7px 22px 7px 22px;
      // border: 1px solid red !important;
      gap: 4px;
      border-radius: 100px;
      cursor: pointer;
      border: 1px 0px 0px 0px;
      opacity: 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid $primary-500;
      color: #fff;
      background: $primary-500;
      font-size: $font-size-14;
      &:hover {
        background-color: #fff;
        color: $primary-500;
      }
    }
  }
}
.specialPath {
  background: #ededff;
}

.isAuditPath {
  background: linear-gradient(
      343.83deg,
      rgba(49, 54, 131, 0.886) -13.74%,
      rgba(36, 41, 133, 0.271) 52.03%,
      rgba(221, 121, 55, 0.2) 131.18%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.432), rgba(59, 47, 47, 0.164));
}
.isContact {
  background: #161620;
  .custom-dropdown {
    background: transparent;
    border: 1px solid #fff;
  }
  .navbar__logo img {
    filter: brightness(0) invert(1);
  }
  .custom-dropdown__selected {
    color: #fff;
    svg {
      color: #fff;
    }
  }
  .navbar__links {
    background: #ffffff1f;
    li a {
      color: #fff;
      svg {
        color: #fff;
      }
    }
  }
}
//
.isFixedNav {
  // background-color: #676560;
  //
  box-shadow: 0px 10px 15px 0.1px #0000000a;

  // backdrop-filter: blur(12px);
  // -webkit-backdrop-filter: blur(12px);
  width: 89.5%;
  position: fixed;
  transition: 0.2s linear;
   @media (max-width: 1400px){
    width: 91.3%;
   }
   @media (max-width: 1200px){
    width: 92.6%;
   }
}

// mobile
.mobile_dropdown {
  display: none;
}
.navbar {
  &__toggle {
    display: none; // Hidden by default
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
  }

  &__links {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    margin: 0;

    li a {
      text-decoration: none;
      color: #333;
      font-size: 1rem;
      transition: color 0.3s;

      &:hover {
        color: $primary-700;
      }
    }
  }
}

@media (max-width: 1068px) {
  .navbar__logo img {
    height: 20px;
  }
}

@media (max-width: 890px) {
  .navbar {
    position: fixed;
    // width: 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f8f6f2;
    z-index: 1000;
    @media (max-width: 550px) {
      width: 88%;
    }
    @media (max-width: 450px) {
      width: 87%;
    }
    @media (max-width: 400px) {
      width: 86%;
    }
    @media (max-width: 360px) {
      width: 84%;
    }
    .mobile_flex_toggle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    &__logo img {
      height: 20px;
      cursor: pointer;
    }
    .navbar__actions {
      // position: absolute;
      text-align: center;
      width: 100%;
      margin: 0 auto !important;
      display: flex;
      align-items: center;
      justify-content: end;
      top: 18px;
      right: 80px;
      position: absolute;
    }
    &__toggle {
      display: block; // Hidden by default
      font-size: 1.5rem;
      background: none;
      border: none;
      cursor: pointer;
    }

    &__links {
      display: flex;
      list-style: none;
      gap: 1.5rem;
      margin: 0;
      border-radius: 0px;
      margin-left: -10px;

      .navbar__dropdown {
        a {
          text-decoration: none;
          color: #333;
          font-size: 1rem;
          transition: color 0.3s;

          &:hover {
            color: $primary-700;
          }
        }
      }
    }

    // Mobile-specific styles
    & {
      flex-direction: column;
      align-items: flex-start;
    }

    &__toggle {
      display: block; // Visible only for mobile
    }

    &__links {
      display: none; // Hidden on mobile

      &.open {
        display: flex;
        flex-direction: column;
        width: 150%;
        height: 100vh;
        background: #f8f6f2;
        // padding: 1rem;
        gap: 40px;
        // border: 1px solid red !important;
        margin-left:70px;
        // margin-top: 30px;
        .navbar__dropdown {
          // width: fit-content;
          width: 100%;
          text-align: left;

          a {
            // width: ;
            display: flex;
            align-items: center;
            justify-content: space-between !important;
            font-size: 24px;
          }
          .dropdown {
            display: none;
          }
          .mobile_dropdown {
            display: block !important;
            margin-left: 17px;
            margin-top: 10px;
            .div_item_m {
              font-size: 22px;
              line-height: 36px;
              &:hover {
                color: $primary-700;
              }
            }
          }
        }
      }
    }
  }
  .isWhite{
    .navbar__toggle{
      color: #fff;
    }
  }
}
.a_openClass {
  color: $primary-700 !important;
  svg {
    color: $primary-700 !important;
  }
}
@media (max-width: 890px) {
  .navbar .navbar__actions .navbar__links  {
    display: none !important;
    // border: 1px solid red !important;
  }
  .navbar__links.open .navbar__dropdown{
    margin: 10px 0;
  }
  .navbar__links.open .navbar__dropdown a{
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    width: 100%;
  }
  .navbar .navbar__actions .open  {
    display: block !important;
    // border: 1px solid red !important;
  }
  .navbar .navbar__actions {
    // display: none;
    // width: 100%;
    display: flex;
    // width: 200px;
    // margin-left: 100px;
    position: relative;
    align-items: start;
    justify-items: start;
    .navbar__links {
      display: flex;
      align-items: start;
      // padding-left: 100px;
      // padding-top: 20px;
    }
  }
}

// mobile drop

.isWhite {
  background: transparent;
  z-index: 99;
  // background-image: url('../assets/allService/bgService.svg ') !important;
  // border: 1px solid red;
  position: fixed;
  width: 89.5%;
          @media only screen and (max-width: 888px) {
            width: 93%;
          }
}

// .navbar__toggle{
//   color: #fff !important;
// }
// .openBg{
//   background-color: #f8f6f2;
// }
.isWhiteUl {
  background: transparent;
  &:hover {
    background-color: #fff;
    li {
      a {
        color: #333;
        &:hover {
          color: $primary-700;
        }
      }
      svg {
        color: #333;
        &:hover {
          color: $primary-700;
        }
      }
    }
  }
  li {
    a {
      color: #fff;
    }
    svg {
      color: #fff;
    }
  }
}
.isWhiteUl2 {
  // background: transparent ;
  .navbar__links {
    background: #fff;
  }
  background-color: #fff;
  &:hover {
    li {
      // background-color: ;
      a {
        color: #333;
        &:hover {
          color: $primary-700;
        }
      }
      svg {
        color: #333;
        &:hover {
          color: $primary-700;
        }
      }
    }
  }
  // li {
  //   a {
  //     color: #fff;
  //   }
  //   svg {
  //     color: #fff;
  //   }
  // }
}

.navbar-scrolled {
  background-color: #fafafa;
  position: relative;
  border: 1px solid red !important;
}
