@use "../../../styles//Variables/variables.scss" as *;

.about2-us {
  background-color: #ffffff;
  padding: 60px 80px;
  font-family: Arial, sans-serif;
  color: #333;

  .section-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 40px;

    .code,
    .name {
      font-size: 25px;
      font-weight: 400;
      color: #000;
      opacity: 0.5;
    }

    h1 {
      font-family: "Open Sans";
      font-weight: 600;
      font-size: 48px;
      line-height: 120%;
      letter-spacing: -2px;
      margin-top: 10px;
      width: 540px;
    }
  }

  .content {
    // display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 45%;

    .text-left,
    .text-right {
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      text-align: left !important;
      color: #555555;
      opacity: 0.8;

      strong {
        color: #181717;
      }
    }
    .text-right {
      text-align: end;
    }
  }

  .mission-section {
    margin-top: 60px;

    .mission-title {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      text-align: left;
      color: #590d1a;
    }

    h2 {
      font-size: 40px;
      color: #121127;
      width: 1111px;
      font-weight: 500;
      line-height: 52px;
      text-align: left;
    }
  }

  /* ValuesSection.scss */

  .values-section {
    .headers {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .subtitle {
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: left;

        color: #555;
      }

      .title {
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 48px;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
        margin-top: -10px;
        color: #000;
      }

      .description {
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0%;
        width: 668px;
        margin-top: -30px;
        color: #444;
      }

      .cta-button {
         padding: 0.75rem 1.5rem;
      // border-radius: $border-radius;
      border: none;
      cursor: pointer;
    background-color: $primary-500;
    border: 1px solid transparent;
      transition: all 0.3s;
      // margin: 30px auto;
      color: #fff;
     
      // width: 240px;
    //   height: 54px;
      border-radius: 100px;
      box-shadow: $box-shadow-md;
      border-radius: 100px;
      font-size: $font-size-16;
      display: flex;
      align-items: center;
      gap: 8px;
      font-family: "Open Sans";
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0%;
      text-align: center;
      vertical-align: middle;

      &:hover {
        background-color: #fff;
        color: $primary-500;
        transition: 0.3s linear;
        border: 1px solid $primary-500;
        svg {
          color: $primary-500;
        }
      }
      }
    }

    .values-list {
      display: flex;
      //   flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      gap: 30px;
      margin-top: 30px;

      .value-item {
        display: flex;
        align-items: center;
        flex-direction: column;
        .icon {
          font-size: 2.5rem;
          margin-bottom: 1rem;
          color: #000;
        }

        .value-title {
          font-family: 'Open Sans';
font-weight: 600;
font-size: 32px;
line-height: 130%;
letter-spacing: 0%;
text-align: center;

          color: #800022;
          margin-top: -10px;
        }

        .value-description {
         font-family: 'Open Sans';
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: -0.5px;
text-align: center;
margin-top: -20px;

          color: #555;
        }
      }
    }
  }
}
