// AcquisitionSections.scss
@use "../../../styles//Variables/variables.scss" as *;

.AcquisitionSections-section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 30px 80px;
  @media (max-width: 1400px) {
    padding: 30px 60px;
  }
  @media (max-width: 1200px) {
    padding: 40px 50px;
  }

  @media (max-width: 1100px) {
    padding: 35px 40px;
  }

  @media (max-width: 900px) {
    padding: 30px 35px;
  }

  @media (max-width: 800px) {
    padding: 30px 30px;
  }

  @media (max-width: 700px) {
    padding: 30px 25px;
  }

  @media (max-width: 600px) {
    padding: 30px;
  }
  @media (max-width: 500px) {
    padding: 20px;
  }
  background: #fff;

  .Acquisition-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 2rem;
    @media (max-width: 1030px) {
      flex-direction: column;
      align-items: start;
    }

    h1 {
      font-family: "Open Sans";
      font-weight: 400;
      font-size: 60px;
      line-height: 70px;
      letter-spacing: -0.5px;
      vertical-align: middle;
      text-transform: capitalize;
      width: 947px;
      color: #171717;
      @media (max-width: 1320px) {
        width: 700px;
        font-size: 54px;
        line-height: 60px;
        letter-spacing: -0.5px;
      }
      @media (max-width: 1220px) {
        font-size: 50px;
        line-height: 54px;
      }
      @media (max-width: 1120px) {
        font-size: 48px;
        line-height: 53px;
      }
      @media (max-width: 1030px) {
        width: 100%;
        font-size: 42px;
        line-height: 48px;
      }
      @media (max-width: 730px) {
        width: 100%;
        font-size: 36px;
        line-height: 42px;
      }
      @media (max-width: 500px) {
        font-size: 32px;
        line-height: 38px;
      }
      @media (max-width: 390px) {
        font-size: 28px;
        line-height: 32px;
      }
      @media (max-width: 350px) {
        font-size: 26px;
        line-height: 30px;
      }
      span {
        color: #2b2a2a;
        font-weight: 600;
      }
    }

    p {
      max-width: 770px;
      font-family: "Open Sans";
      font-weight: 400;
      font-size: 15.99px;
      line-height: 23.98px;
      letter-spacing: 0px;
      text-transform: capitalize;
      color: #555555;

      color: #666;
      margin-top: -20px;
      @media (max-width: 1030px) {
        width: 100%;
        max-width: 100%;
      }
    }
    .cta_btn {
      background-color: $primary-500;
      padding: 0.75rem 1.5rem;
      // border-radius: $border-radius;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      transition: all 0.3s;
      // margin: 30px auto;
      color: #fff;
      background: $primary-500;
      font-weight: 500;
      // width: 240px;
      height: 54px;
      border-radius: 100px;
      box-shadow: $box-shadow-md;
      border-radius: 100px;
      font-size: $font-size-16;
      display: flex;
      align-content: center;
      justify-content: center;
      gap: 8px;
      font-family: "Open Sans";
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0%;
      text-align: center;
      vertical-align: middle;

      &:hover {
        background-color: #fff;
        color: $primary-500;
        transition: 0.3s linear;
        border: 1px solid $primary-500;
        svg {
          color: $primary-500;
        }
      }
    }
  }

  .section-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    @media (max-width: 890px) {
      flex-direction: column-reverse;
    }
    &.right {
      flex-direction: row-reverse;
      @media (max-width: 890px) {
        flex-direction: column-reverse;
      }
    }

    .text-content {
      flex: 1;
      align-items: start;
      h2 {
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 30px;
        line-height: 40px;
        letter-spacing: 0%;
        vertical-align: middle;
        text-transform: uppercase;

        color: #171717;
        margin-top: -40px;
        @media (max-width: 1230px) {
          font-size: 28px;
          line-height: 34px;
        }
      }

      h3 {
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 34px;
        line-height: 130%;
        letter-spacing: -1px;
        vertical-align: middle;
        text-transform: capitalize;
       
        @media (max-width: 1230px) {
          font-size: 30px;
          line-height: 38px;
          margin-top: -10px;
        }
        @media (max-width: 930px) {
          font-size: 28px;
          line-height: 34px;
          margin-top: -10px;
        }
        @media (max-width: 500px) {
          font-size: 24px;
          line-height: 30px;
          margin-top: -10px;
        }
      }

      p {
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.5px;
        vertical-align: middle;
        text-transform: capitalize;
        color: #717070;
        @media (max-width: 1230px) {
          margin-top: -20px;
        }
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 0.5rem;
          font-family: "Open Sans";
          font-weight: 400;
          font-size: 20px;
          line-height: 21.6px;
          letter-spacing: 0px;
          vertical-align: middle;
          text-transform: capitalize;
        }
      }
    }

    .image-content {
      // flex: 1;
      display: flex;
      // align-items: center;
      // justify-content: center;
      width: 40%;
      @media (max-width: 1130px) {
        width: 35%;
      }
      @media (max-width: 890px) {
        width: 60%;
      }
      img {
        width: 100%;
        // max-width: 400px;
      }
    }
  }
  .tools-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
    justify-items: center;
    gap: 1.5rem;
    margin-bottom: 3rem;
    // border: 1px solid red !important;
    @media (max-width: 1400px) {
      gap: 18px;
    }
    @media (max-width: 1300px) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    @media (max-width: 1100px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media (max-width: 860px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 680px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 1030px) {
      gap: 10px;
    }
    .cards:nth-child(13) {
      opacity: 0;
    }
    .tool-card {
      background: #eae5ff66;
      border-radius: 4px;
      width: 194px;
      height: 102px;
      display: flex;
      align-items: center;
      justify-content: center;
      // padding: 5px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
      display: flex;
      flex-direction: column;
      align-items: center;
      //   gap: 10px;
      @media (max-width: 1400px) {
        width: 180px;
        height: 100px;
      }
      @media (max-width: 1100px) {
        width: 220px;
        height: 105px;
      }
      @media (max-width: 1030px) {
        width: 200px;
        height: 105px;
      }
      @media (max-width: 900px) {
        width: 190px;
        height: 102px;
      }
      @media (max-width: 860px) {
        width: 220px;
        height: 105px;
      }
      @media (max-width: 780px) {
        width: 200px;
        height: 102px;
      }
      @media (max-width: 680px) {
        width: 260px;
        height: 102px;
      }
      @media (max-width: 590px) {
        width: 230px;
        height: 102px;
      }
      @media (max-width: 520px) {
        width: 200px;
        height: 102px;
      }
      @media (max-width: 450px) {
        width: 190px;
        height: 102px;
      }
      @media (max-width: 430px) {
        width: 170px;
        height: 90px;
        img {
          scale: 0.8;
        }
      }
      @media (max-width: 390px) {
        width: 160px;
        height: 90px;
        img {
          scale: 0.8;
        }
      }
      @media (max-width: 380px) {
        width: 150px;
        height: 80px;
        img {
          scale: 0.7;
        }
      }
      @media (max-width: 350px) {
        width: 140px;
        height: 80px;
        img {
          scale: 0.7;
        }
      }
      .cards {
      }

      .p {
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: 0px;
        vertical-align: middle;
        text-transform: capitalize;
        margin-top: -30px;
      }
      span {
        font-weight: 500;
        font-size: 0.95rem;
        color: #333;
      }
    }
  }
  //
  .activation-wrapper {
    text-align: center;

    h2 {
      color: #4b2b2b;
      font-family: "Open Sans";
      font-weight: 600;
      font-size: 42px;
      line-height: 42px;
      letter-spacing: -2px;
      vertical-align: middle;
      text-transform: capitalize;
      margin-top: -30px;
      @media (max-width: 1300px) {
        font-size: 38px;
        line-height: 42px;
      }
      @media (max-width: 1100px) {
        font-size: 32px;
        line-height: 38px;
      }
    }

    .activation-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 1.5rem;
      @media (max-width: 1300px) {
        grid-template-columns: 1fr 1fr 1fr;
      }
      @media (max-width: 1100px) {
        grid-template-columns: 1fr 1fr;
      }
      @media (max-width: 700px) {
        grid-template-columns: 1fr ;
      }
      .activation-card {
        background: white;
        border-radius: 12px;
        padding: 1.5rem;
        box-shadow: 0px 3.88px 19.39px 0px #00000010;

        text-align: left;
        transition: all 0.3s ease;

        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        }

        .card-id {
          color: #272626;
          font-family: "Open Sans";
          font-weight: 400;
          font-size: 23.27px;
          line-height: 140%;
          letter-spacing: -0.48px;
        }

        h3 {
          font-family: "Open Sans";
          font-weight: 600;
          font-size: 20px;
          line-height: 100%;
          letter-spacing: -0.5px;
          text-transform: capitalize;

          color: #2b2b2b;
        }

        p {
          font-family: "Open Sans";
          font-weight: 400;
          font-size: 15px;
          line-height: 21px;
          letter-spacing: -0.29px;

          color: #555;
        }
      }
    }
  }
}
