@use "../../../styles//Variables/variables.scss" as *;

.blogWrapper {
  background: #fafafa;

  .head_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 80px;
    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: start;
    }
    @media (max-width: 1400px) {
      padding: 30px 60px;
    }
    @media (max-width: 1200px) {
      padding: 40px 50px;
    }

    @media (max-width: 1100px) {
      padding: 35px 40px;
    }

    @media (max-width: 900px) {
      padding: 30px 35px;
    }

    @media (max-width: 800px) {
      padding: 30px 30px;
    }

    @media (max-width: 700px) {
      padding: 30px 25px;
    }

    @media (max-width: 600px) {
      padding: 30px;
    }
    @media (max-width: 500px) {
      padding: 20px;
    }
  }
  .blogLabel {
    background: #b8b8b833;
    width: fit-content;
    // margin: 0 auto;
    padding: 4px 14px;
    border-radius: 100px;
    font-family: "Open Sans";
    color: $primary-500;
    font-weight: 600;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 3px;
    text-align: start;
    vertical-align: middle;
    text-transform: uppercase;
  }

  h2 {
    margin-top: 0px;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 44px;
    line-height: 52.8px;
    letter-spacing: -2px;
    text-transform: capitalize;
    text-align: start;
    color: $primary-800;
    width: 684px;
    margin-bottom: 0px;

    @media (max-width: 1080px) {
      font-size: 38px;
      line-height: 42.8px;
    }
    @media (max-width: 800px) {
      font-size: 30px;
      line-height: 32.8px;
    }
    @media (max-width: 600px) {
      font-size: 28px;
      line-height: 30.8px;
    }
    @media (max-width: 1200px) {
      width: 100%;
    }
  }

  p {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 18px;
    line-height: 25.2px;
    letter-spacing: 0px;
    color: $neutral-400;
    width: 784px;
    // margin-top: -20px;
    @media (max-width: 1200px) {
      width: 100%;
    }
  }

  .blogButton {
    background-color: $primary-500;
    color: #fff;
    background: $primary-500;
    font-weight: 500;
    width: 240px;
    height: 54px;
    border-radius: 100px;
    box-shadow: $box-shadow-md;
    border-radius: 100px;
    font-size: $font-size-16;

    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;

    &:hover {
      background-color: #fff;
      color: $primary-500;
      transition: 0.3s linear;
      border: 1px solid $primary-500;

      svg {
        color: $primary-500;
      }
    }
  }
}

.sliderContainer {
  position: relative;
  margin-top: 3rem;
  overflow: hidden;
  padding-left: 80px;
  @media (max-width: 1400px) {
    padding-left: 30px;
  }
  @media (max-width: 1200px) {
    padding-left: 50px;
  }

  @media (max-width: 1100px) {
    padding-left: 40px;
  }

  @media (max-width: 900px) {
    padding-left: 35px;
  }

  @media (max-width: 800px) {
    padding-left: 30px;
  }

  @media (max-width: 700px) {
    padding-left: 25px;
  }

  @media (max-width: 600px) {
    padding-left: 30px;
  }
  @media (max-width: 500px) {
    padding-left: 20px;
  }
  .slider {
    display: grid;
    transition: transform 0.5s ease-in-out;
  }

  .card {
    // background-color: #f8f8f8;
    // padding: 20px;
    margin: 0 20px;
    @media (max-width: 1000px) {
      margin: 0 10px;
    }
    border-radius: 20px;
    text-align: left;

    img {
      //   width: 534px;
      height: 326px;
      object-fit: cover;
      border-radius: 20px;
      width: 100%;
    }

    .meta {
      font-family: "Open Sans";
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0%;
      color: #000;
    }

    h3 {
      font-family: "Open Sans";
      font-weight: 600;
      font-size: 24px;
      line-height: 28.8px;
      letter-spacing: -1.2px;
      text-transform: capitalize;
      margin-top: -10px;
      margin-bottom: 0px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1; /* max 2 lines */
      overflow: hidden;
      //   min-height: 2.8em;
    }

    p {
      font-family: "Open Sans";
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.5px;
      color: #555555;
      width: 100%;
    }

    a {
      text-decoration: none;
      font-family: "Open Sans";
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0%;
      text-decoration: underline;
      text-decoration-style: solid;
      // text-decoration-offset: 0%;
      text-decoration-thickness: 0%;
      color: $primary-500;
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
  .navLeftRightButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
        padding-right: 60px;
        @media (max-width: 768px){
      padding-right: 30px;

    }
        @media (max-width: 428px){
      padding-right: 10px;

    }
  }
  .navButtons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    button {
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 0.6rem;
      margin: 0 0.3rem;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      &:active{
        scale: 0.95;
        transition: 0.1s linear;
      }
      @media (max-width: 628px){
        scale: 0.8;
      }
    }
  }

  .dots {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;

    span {
      height: 10px;
      width: 10px;
      background-color: #ccc;
      border-radius: 50%;
      display: inline-block;
      margin: 0 4px;
      cursor: pointer;

      &.activeDot {
        background-color: #d41e44;
      }
    }
  }
}

@media (max-width: 768px) {
  .blogWrapper h2 {
    font-size: 1.6rem;
  }

  .blogWrapper p {
    font-size: 0.9rem;
  }

  .blogWrapper .blogButton {
    font-size: 0.9rem;
    padding: 0.6rem 1.2rem;
  }
}
