@use "../../../styles//Variables/variables.scss" as *;

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //   padding: 60px 5%;
  padding: 100px 80px;
  //   background-color: #111015;
  background-image: url("../../../assets/allService/bgService.svg");
  color: #fff;
  flex-wrap: wrap;
  margin-top: -80px;
  padding-top: 170px;
  padding-bottom: 300px;
  @media (max-width: 1400px) {
    padding: 230px 60px;
    margin-top: -100px;
  }
  @media (max-width: 1200px) {
    padding: 230px 50px;
    margin-top: -100px;
  }

  @media (max-width: 1100px) {
    padding: 230px 40px;
    margin-top: -100px;
  }

  @media (max-width: 900px) {
    padding: 230px 30px;
    margin-top: -100px;
  }

  @media (max-width: 800px) {
    padding: 30px 30px;
  }

  @media (max-width: 700px) {
    padding: 30px 25px;
  }

  @media (max-width: 600px) {
    padding: 30px;
  }
  @media (max-width: 500px) {
    padding: 20px;
  }
  .hero-left {
    flex: 1;
    // min-width: 300px;
    // border: 1px solid red;
    .tag {
      background-color: #ffffff14;
      backdrop-filter: blur(24px);
      padding: 8px 20px;
      border-radius: 100px;
      color: white;
      font-family: "Oxanium";
      font-weight: 600;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 2%;
      vertical-align: middle;
      text-transform: uppercase;

      font-weight: bold;
      border: none;
      margin-bottom: 20px;
       @media (max-width: 1400px) {
          font-size: 20px;
      line-height: 100%;
      letter-spacing: 1%;
       }
    }

    h1 {
      font-family: "Open Sans";
      font-weight: 600;
      font-size: 64px;
      line-height: 105%;
      letter-spacing: -5px;
      vertical-align: middle;
      text-transform: capitalize;
      margin-top: -10px;
      span {
        background-color: #59595c;
        display: inline-block;
        padding: 5px 10px;
        margin-top: 10px;
        border-radius: 5px;
      }
      @media (max-width: 1400px) {
        font-size: 60px;
        line-height: 105%;
        letter-spacing: -4px;
      }
      @media (max-width: 1130px) {
        font-size: 54px;
        line-height: 105%;
        letter-spacing: -2px;
      }
      @media (max-width: 1066px) {
        font-size: 50px;
        line-height: 105%;
        letter-spacing: -2px;
      }
    }

    p {
      font-family: "Open Sans";
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 0px;
      vertical-align: middle;
      text-transform: capitalize;
      margin-top: -10px;

      color: #ccc;
      max-width: 630px;
    }

    .header__buttons {
      // animation: slideOut 1s ease-out forwards;
      margin-top: 1.5rem;
      margin-top: 45px;
      display: flex;
      align-content: center;

      .btn {
        padding: 0.75rem 1.5rem;
        // border-radius: $border-radius;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        transition: all 0.3s;

        &.btn-primary {
          background-color: $primary-500;
          color: #fff;
          background: $primary-500;
          font-weight: 500;
          width: 240px;
          height: 54px;
          border-radius: 100px;
          box-shadow: $box-shadow-md;
          border-radius: 100px;
          font-size: $font-size-16;
          display: flex;
          align-content: center;
          justify-content: center;
          gap: 8px;
          &:hover {
            background-color: #fff;
            color: $primary-500;
            transition: 0.3s linear;
            border: 1px solid $primary-500;
            svg {
              color: $primary-500;
            }
          }
        }

        &.btn-secondary {
          width: 240px;
          height: 54px;
          background-color: $secondary-500;
          color: #fff;
          margin-left: 1rem;
          font-weight: 500;
          font-size: $font-size-16;
          background: #000000;
          border: 1px solid $primary-500;
          border-radius: 100px;
          box-shadow: $box-shadow-md;
          display: flex;
          align-content: center;
          justify-content: center;
          gap: 8px;
          &:hover {
            background-color: #fff;
            color: #000;
            transition: 0.3s linear;
            border: 1px solid #000;

            svg {
              color: #000;
            }
          }
        }
      }
    }
  }

  .hero-right {
    // flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    // border: 1px solid red;
    @media (max-width: 1400px) {
      max-width: 45%;
    }
    @media (max-width: 1354px) {
      max-width: 40%;
    }
    @media (max-width: 1000px) {
      max-width: 35%;
    }
     @media (max-width: 900px){
      display: none;
     }
    img {
      width: 100%;
      height: auto;
      filter: brightness(0) invert(1);
    }
  }
}
