// Retention.scss
@use "../../../styles//Variables/variables.scss" as *;

.retention-section {
  padding: 40px 80px;
  @media (max-width: 1400px) {
    padding: 30px 60px;
  }
  @media (max-width: 1200px) {
    padding: 40px 50px;
  }

  @media (max-width: 1100px) {
    padding: 35px 40px;
  }

  @media (max-width: 900px) {
    padding: 30px 35px;
  }

  @media (max-width: 800px) {
    padding: 30px 30px;
  }

  @media (max-width: 700px) {
    padding: 30px 25px;
  }

  @media (max-width: 600px) {
    padding: 30px;
  }
  @media (max-width: 500px) {
    padding: 20px;
  }
  background: #fff;
  font-family: "Segoe UI", sans-serif;

  .top-retention {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    .top_setion {
      width: 810px;
    }

    h1 {
      font-family: "Open Sans";
      font-weight: 400;
      font-size: 60px;
      line-height: 72px;
      letter-spacing: -3px;
      text-transform: capitalize;
      span {
        font-weight: 600;
      }
    }

    p {
      font-family: "Open Sans";
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.5px;
      text-transform: capitalize;
      margin-top: -30px;

      color: #555;
      line-height: 1.6;
    }

    .cta-button {
      margin-top: 30px;
      display: flex;
      align-items: center;
      padding: 0.75rem 1.5rem;
      // border-radius: $border-radius;
      border: none;
      cursor: pointer;
      background-color: $primary-500;
      border: 1px solid transparent;
      transition: all 0.3s;
      // margin: 30px auto;
      color: #fff;

      // width: 240px;
      //   height: 54px;
      border-radius: 100px;
      box-shadow: $box-shadow-md;
      border-radius: 100px;
      font-size: $font-size-16;

      gap: 8px;
      font-family: "Open Sans";
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0%;
      text-align: center;
      vertical-align: middle;

      &:hover {
        background-color: #fff;
        color: $primary-500;
        transition: 0.3s linear;
        border: 1px solid $primary-500;
        svg {
          color: $primary-500;
        }
      }
    }
  }

  .service-wrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;

    border: 1px solid #bdbdbd;
    .service-box {
      background: #fff;
      display: flex;
      gap: 20px;
      padding: 30px 20px;
      border-radius: 20px;
      border-bottom: 1px solid #bdbdbd;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
      align-items: flex-start;

      .service-left {
        flex: 0 0 50px;
        h3 {
          font-family: "Open Sans";
          font-weight: 400;
          font-size: 40px;
          line-height: 40px;
          letter-spacing: 0%;
          vertical-align: middle;
          text-transform: uppercase;
          margin-top: 0;
          color: #171717;
        }
      }

      .service-middle {
        flex: 1;
        margin-right: 80px;
        max-width: 42%;
        h4 {
          margin-top: 0;
          font-family: "Open Sans";
          font-weight: 600;
          font-size: 32px;
          line-height: 130%;
          letter-spacing: -1.5px;
          vertical-align: middle;
          text-transform: capitalize;

          color: #2b2a2a;
          margin-bottom: 0.5rem;
        }

        p {
          color: #555555;
          font-family: "Open Sans";
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: -0.5px;
          vertical-align: middle;
          text-transform: capitalize;
        }
      }

      .service-right {
        // flex: 1;
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
        align-items: flex-start;

        .tag {
          display: flex;
          align-items: center;
          gap: 10px;
          font-family: "Open Sans";
          font-weight: 400;
          font-size: 18px;
          line-height: 21.6px;
          letter-spacing: -0.5px;
          vertical-align: middle;
          text-transform: capitalize;
          color: #171717;
          margin: 5px 0;
          width: 100%;
        }
      }
    }
    .service-box:last-child {
      border: transparent;
      border-radius: 20px;
    }
  }
}
