/* GrowthSection.scss */
@use "../../../../styles//Variables/variables.scss" as *;

.main_growth-section {
  background: #fafafa;
  padding: 50px 80px;

  @media (max-width: 1400px) {
    padding: 30px 60px;
  }
  @media (max-width: 1200px) {
    padding: 40px 50px;
  }

  @media (max-width: 1100px) {
    padding: 35px 40px;
  }

  @media (max-width: 900px) {
    padding: 30px 35px;
  }

  @media (max-width: 800px) {
    padding: 30px 30px;
  }

  @media (max-width: 700px) {
    padding: 30px 25px;
  }

  @media (max-width: 600px) {
    padding: 30px;
  }
  @media (max-width: 500px) {
    padding: 20px;
  }
}
.growth-section {
  //   background: #fafafa;
  border-radius: 20px;
  padding: 40px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  border: 1px solid #bdbdbd;
  .content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    .left {
      //   flex: 1;
      //   min-width: 280px;
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      position: relative;
      .formula-image {
        // max-width: 100%;
        position: absolute;
        // height: auto;
         @media (max-width: 1160px) {
          // width: 100%;
          margin-top: -20px;
          scale: 0.9;
          margin-left: -20px;
         }
         @media (max-width: 1000px) {
          margin-top: -20px;
          scale: 0.8;
          margin-left: -45px;
         }
         @media (max-width: 900px) {
          margin-top: -20px;
          scale: 0.7;
          margin-left: -70px;
         }
      }
    }

    .right {
      flex: 2;
      min-width: 300px;
      text-align: center;
      padding: 20px;

      h2 {
        font-family: "Poppins";
        font-weight: 400;
        font-size: 48px;
        line-height: 64.8px;
        letter-spacing: -2.5px;
        text-align: center;
        text-transform: capitalize;
        margin-top: -20px;
        color: #590d1a;
        @media (max-width: 1160px) {
          font-size: 40px;
          line-height: 60.8px;
          letter-spacing: -2px;
        }
        @media (max-width: 1000px) {
          font-size: 36px;
          line-height: 50.8px;
          letter-spacing: -2px;
        }
      }

      h1 {
        font-family: "Poppins";
        font-weight: 600;
        font-size: 48px;
        line-height: 64.8px;
        letter-spacing: -2.5px;
        text-align: center;
        text-transform: capitalize;
        color: #590d1a;
        margin-top: -40px;
        @media (max-width: 1160px) {
          font-size: 40px;
          line-height: 58px;
          letter-spacing: -2px;
        }
          @media (max-width: 1000px) {
          font-size: 36px;
          line-height: 50.8px;
          letter-spacing: -2px;
        }
      }

      p {
        font-family: "Inter";
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: 0px;
        text-align: center;

        color: #666;
        margin-top: -20px;
        @media (max-width: 1160px) {
          font-size: 18px;
        }
        @media (max-width: 1000px) {
          font-size: 16px;
        }
      }

      .contact-btn {
        padding: 0.75rem 1.5rem;
        // border-radius: $border-radius;
        border: none;
        cursor: pointer;
        background-color: $primary-500;
        border: 1px solid transparent;
        transition: all 0.3s;
        // margin: 30px auto;
        color: #fff;

        // width: 240px;
        //   height: 54px;
        border-radius: 100px;
        box-shadow: $box-shadow-md;
        border-radius: 100px;
        font-size: $font-size-16;

        gap: 8px;
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: center;
        vertical-align: middle;

        &:hover {
          background-color: #fff;
          color: $primary-500;
          transition: 0.3s linear;
          border: 1px solid $primary-500;
          svg {
            color: $primary-500;
          }
        }
      }
    }
  }
}
