@use './styles/Variables/variables.scss' as *;

.app {
    max-width: 1600px;
    margin: 0 auto;
    /* Adjust according to your navbar height */
    // height: calc(100vh - 65px);
    /* Full height minus navbar height */
    overflow-y: auto;
    /* Enable scrolling inside the app */
}
@media (max-width: 890px) {
    .app{
        height: calc(100vh - 0px);
    }
}

//  ::selection {
//      background: #8400ff; // Background color of the selected text
//      color: rgb(255, 255, 255); // Text color of the selected text
//  }

//    ::-webkit-scrollbar {
//        width: 6px;
//        height: 6px;
//    }

//    /* Track */
//    ::-webkit-scrollbar-track {
//        background: #ab81d33b;
//    }

//    /* Handle */
//    ::-webkit-scrollbar-thumb {
//        background: #440A14;
//    }

//    /* Handle on hover */
//    ::-webkit-scrollbar-thumb:hover {
//        background: #720315;
//    }








   