$primary-color: #6c5ce7;
$background-color: #1a1a2e;
$secondary-text: #ffcc00;
$text-color: #ffffff;

@use "../../styles//Variables/variables.scss" as *;

.process {
  padding: 40px 20px;
  color: $text-color;
  text-align: center;
  margin-top: 70px;
  .process-header {
    margin-bottom: 40px;
    object-fit: cover;

    align-items: center;
    background-size: cover;
    background-image: url("../../assets/Background.svg");
    height: 516px;
  }
}

.process-header {
}

.process-header .highlight {
  color: $primary-color;
  font-size: 64px;
  font-weight: bold;
}

.swear {
  font-family: "Cursive";
  font-size: 24px;
  color: $secondary-text;
  margin-top: 10px;
}
.card-processes {
  background-image: url("../../assets/621922efeffffa6ff9b6b1ff3663f986.png");
  height: 626px;
  background-position: center; // Centers the image horizontally and vertically
  background-size: cover; // Ensures the image covers the entire container
  background-repeat: no-repeat;
  .process-navigation {
    margin-left: 40px;
    text-align: start;
    margin-bottom: 30px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 208px;
    p {
      width: 80%;
    }
  }
  .swipe-icon {
    display: block;
    font-size: 20px;
    margin-top: 5px;
    color: $neutral-50;
  }

  .process-steps {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;

    .step {
      //   border: 1px solid red !important;
      //   background: #24243e;
      padding: 20px;
      text-align: left;
    }
  }
  .process-steps {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
    scroll-behavior: smooth;
    cursor: grab;
    padding-bottom: 50px;

    &::-webkit-scrollbar {
      display: none;
    }
    user-select: none;

    &:active {
      cursor: grabbing;
    }

    .step {
      flex: 0 0 600px; // Each step takes a fixed width
      //   background: #24243e;
      padding: 20px;
      text-align: left;
      color: #fff;
      //   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease-in-out;
      display: flex;
      &:hover {
        // transform: scale(1.05);
      }
      .rightBorder {
        padding-left: 40px;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #a3a3a3a3;
        margin-top: 20px;
      }
      &:last-child {
        .rightBorder {
          opacity: 0;
          transition: opacity 0.3s ease-in-out;
        }
      }

      h2 {
        // border: 1px solid red;
        margin-right: 20px;
        opacity: 0.5;
        font-size: $font-size-20;
      }

      h3 {
        width: 280.99px;
        height: 101.4px;
        font-size: $font-size-40;
        color: $neutral-50;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
      }

      p {
        width: 282.29px;
        height: 154px;
        opacity: 0.7;
        font-size: $font-size-16;
        font-weight: 400;
        line-height: 22.4px;
        letter-spacing: -1px;
        text-align: left;
        margin-top: 40px;
      }
    }
  }
}

.process-footer {
  margin-top: -180px;
  margin-right: 40px;
  text-align: start;
  margin-left: 40px;
  border-top: 1px solid #a3a3a3a3;
  display: flex;
  align-items: center;
  justify-content:left;
  gap: 30px;
}

.process-footer p {
    width: 180px;
  font-size: $font-size-14;
  margin-bottom: 20px;
  color: #fff;
  margin-top: 50px;
}

.btn-start {
    margin-top: 50px;
    width: 220px;
  padding: 10px 20px;
//   background-color: $primary-color;
  border: none;
  border-radius: 100px;
  color: $text-color;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 30px;
  color: #000;
}

.btn-start:hover {
 background: #00000000;
 border: 1px solid #fff;
 color: #fff;
 transition: 0.3s linear;
}

button:active{
  transition: 0.3s linear;
 scale: 0.9;
}

//
